
*{
  margin: 0;
  padding: 0;
  font-family: "Poppins" , sans-serif;
}

body{
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(2, 9, 11, 1) 0%,
      rgba(22, 86, 110, 1) 50%,
      rgba(2, 9, 11, 1) 100%,
      rgba(0, 0, 0, 1) 100%
  );
    
}

.modal-newproduct-header {
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(2, 9, 11, 1) 0%,
      rgba(22, 86, 110, 1) 50%,
      rgba(2, 9, 11, 1) 100%,
      rgba(0, 0, 0, 1) 100%
  );    
}

/* NavBar */
.nav-bar-adm{
background-image: repeating-linear-gradient(135deg, rgb(7,23,30) 0px, rgb(7,23,30) 2px,rgb(8,24,31) 2px, rgb(8,24,31) 4px,rgb(9,25,32) 4px, rgb(9,25,32) 6px,rgb(8,24,31) 6px, rgb(8,24,31) 8px,rgb(11,27,34) 8px, rgb(11,27,34) 10px,rgb(10,26,35) 10px, rgb(10,26,35) 12px,rgb(8,24,31) 12px, rgb(8,24,31) 14px,rgb(7,23,30) 14px, rgb(7,23,30) 16px,rgb(11,27,34) 16px, rgb(11,27,34) 18px,rgb(9,25,32) 18px, rgb(9,25,32) 20px,rgb(10,26,35) 20px, rgb(10,26,35) 22px,rgb(10,26,35) 22px, rgb(10,26,35) 24px);
box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
;
z-index: 1 !important;
}

.user-login{
  font-size: 25px;
}
.user-login li {
  list-style: none;
}
.user-login a {
color: #858da8;
}
.user-login a:hover {
  color: rgb(42, 85, 134);
  }
.loguito{
  width: 40px;
}

/* BARRA NAVEGACION LATERAL */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 70px;
  background-image: repeating-linear-gradient(135deg, rgb(7,23,30) 0px, rgb(7,23,30) 2px,rgb(8,24,31) 2px, rgb(8,24,31) 4px,rgb(9,25,32) 4px, rgb(9,25,32) 6px,rgb(8,24,31) 6px, rgb(8,24,31) 8px,rgb(11,27,34) 8px, rgb(11,27,34) 10px,rgb(10,26,35) 10px, rgb(10,26,35) 12px,rgb(8,24,31) 12px, rgb(8,24,31) 14px,rgb(7,23,30) 14px, rgb(7,23,30) 16px,rgb(11,27,34) 16px, rgb(11,27,34) 18px,rgb(9,25,32) 18px, rgb(9,25,32) 20px,rgb(10,26,35) 20px, rgb(10,26,35) 22px,rgb(10,26,35) 22px, rgb(10,26,35) 24px);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-right: 14px;
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open{
  width: 200px;
}
.sidebar .usuario{
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  
}
.sidebar .usuario{
  opacity: 1;
  transition: all 0.5s ease;
}
.sidebar .usuario .user_name{
  color: #858da8;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  margin-left: 1rem;
  transition: all 0.5s ease-in-out;
}
.sidebar.open .usuario,
.sidebar.open .usuario .user_name{
  opacity: 1;
}
.sidebar .usuario #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.5s ease;
  font-size: 23px;
  text-align: start;
  cursor: pointer;
  text-align: center;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #858da8;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
  
}
.sidebar .nav-list{
  height: 100%;
  margin-left: 6px;
  transition: all 0.5s ease;
}
.sidebar li{
  position: relative;
  list-style: none;
  
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  color: #212529;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #858da8;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 20px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: none;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
  background:transparent;
}
.sidebar .buscador{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: none;
  color: #858da8;
}
.sidebar.open .buscador:hover{
  background: none;
  color: #212529;
}
.sidebar .buscador:hover{
  background: rgb(42, 85, 134);
  color: #212529;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: transparent;
}
.sidebar li a:hover{
  background: rgb(42, 85, 134);
}
.sidebar li a .links{
  color: #858da8;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links,
.sidebar li a:hover i{
  transition: all 0.4s ease;
  color: #212529;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.mostrarUl{
  display: block;
  background-image: repeating-linear-gradient(135deg, rgb(7,23,30) 0px, rgb(7,23,30) 2px,rgb(8,24,31) 2px, rgb(8,24,31) 4px,rgb(9,25,32) 4px, rgb(9,25,32) 6px,rgb(8,24,31) 6px, rgb(8,24,31) 8px,rgb(11,27,34) 8px, rgb(11,27,34) 10px,rgb(10,26,35) 10px, rgb(10,26,35) 12px,rgb(8,24,31) 12px, rgb(8,24,31) 14px,rgb(7,23,30) 14px, rgb(7,23,30) 16px,rgb(11,27,34) 16px, rgb(11,27,34) 18px,rgb(9,25,32) 18px, rgb(9,25,32) 20px,rgb(10,26,35) 20px, rgb(10,26,35) 22px,rgb(10,26,35) 22px, rgb(10,26,35) 24px);

}

.noMostrarUl{
  display: none;
}

@media (max-width: 600px) {
  .sidebar li .tooltip {
    display: none;
  }
}

@media (max-width: 600px) {
  .sidebar{
    background: none;
  }
}

/* ESTILOS DE CARDS */

@media only screen and (max-width: 600px) {
  .option-styles a{
    align-items: center;
    text-align: center;
  }
  .option-styles p {
    font-size: 15px;
    margin-bottom: 0%;
   }
}

.option-styles  {

  cursor: pointer;
  font-size: 20px;
  text-align: center;
  color: #858da8;
  
}

.option-styles a{
  text-decoration: none;
  color: #858da8;
}

.option-styles a:hover{
  text-decoration: none;
  color: rgb(42, 85, 134);
}

.option-styles p {
 font-size: 25px;
 margin-bottom: 0%;
}

/* Modal Perfil */

.modalPerfil{
  background-image: repeating-linear-gradient(135deg, rgb(7,23,30) 0px, rgb(7,23,30) 2px,rgb(8,24,31) 2px, rgb(8,24,31) 4px,rgb(9,25,32) 4px, rgb(9,25,32) 6px,rgb(8,24,31) 6px, rgb(8,24,31) 8px,rgb(11,27,34) 8px, rgb(11,27,34) 10px,rgb(10,26,35) 10px, rgb(10,26,35) 12px,rgb(8,24,31) 12px, rgb(8,24,31) 14px,rgb(7,23,30) 14px, rgb(7,23,30) 16px,rgb(11,27,34) 16px, rgb(11,27,34) 18px,rgb(9,25,32) 18px, rgb(9,25,32) 20px,rgb(10,26,35) 20px, rgb(10,26,35) 22px,rgb(10,26,35) 22px, rgb(10,26,35) 24px);
}

/* footer */
.footerAdmin {
  background-color: #212529 !important;
  box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
  position: absolute;
  z-index: 2;
}
.volverArriba {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
.volverArriba:link,
.volverArriba:visited,
.volverArriba:active {
  color: white;
}
.volverArriba:hover {
  color: rgb(16, 69, 90);
}

.btnRegister{
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(2, 9, 11, 1) 0%,
      rgba(22, 86, 110, 1) 50%,
      rgba(2, 9, 11, 1) 100%,
      rgba(0, 0, 0, 1) 100%
  );
  color: white;}


