*{
    box-sizing: border-box;
}

body {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(2, 9, 11, 1) 0%,
        rgba(22, 86, 110, 1) 50%,
        rgba(2, 9, 11, 1) 100%,
        rgba(0, 0, 0, 1) 100%
    );
    color: rgba(247, 247, 247, 0.849);
    font-family: "Teko", sans-serif;
}

/* navbar */
.navbar-home {
    background-image: repeating-linear-gradient(135deg, rgb(7,23,30) 0px, rgb(7,23,30) 2px,rgb(8,24,31) 2px, rgb(8,24,31) 4px,rgb(9,25,32) 4px, rgb(9,25,32) 6px,rgb(8,24,31) 6px, rgb(8,24,31) 8px,rgb(11,27,34) 8px, rgb(11,27,34) 10px,rgb(10,26,35) 10px, rgb(10,26,35) 12px,rgb(8,24,31) 12px, rgb(8,24,31) 14px,rgb(7,23,30) 14px, rgb(7,23,30) 16px,rgb(11,27,34) 16px, rgb(11,27,34) 18px,rgb(9,25,32) 18px, rgb(9,25,32) 20px,rgb(10,26,35) 20px, rgb(10,26,35) 22px,rgb(10,26,35) 22px, rgb(10,26,35) 24px);
   column-rule-color: white;
}
/* HEADER  */
.header-games {
    background-image: repeating-linear-gradient(135deg, rgb(7,23,30) 0px, rgb(7,23,30) 2px,rgb(8,24,31) 2px, rgb(8,24,31) 4px,rgb(9,25,32) 4px, rgb(9,25,32) 6px,rgb(8,24,31) 6px, rgb(8,24,31) 8px,rgb(11,27,34) 8px, rgb(11,27,34) 10px,rgb(10,26,35) 10px, rgb(10,26,35) 12px,rgb(8,24,31) 12px, rgb(8,24,31) 14px,rgb(7,23,30) 14px, rgb(7,23,30) 16px,rgb(11,27,34) 16px, rgb(11,27,34) 18px,rgb(9,25,32) 18px, rgb(9,25,32) 20px,rgb(10,26,35) 20px, rgb(10,26,35) 22px,rgb(10,26,35) 22px, rgb(10,26,35) 24px);
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}
.efecto-letras{
    display: inline-flex;
    color: rgba(0, 172, 255, 1);
    color: rgba(7, 125, 179);
}
.efecto-w {
    animation: efecto 2s cubic-bezier(0.77, 0, 0.7, 1);
}
.efecto-a {
    animation: efecto 1.7s cubic-bezier(0.77, 0, 0.7, 1);
}
.efecto-r { 
    animation: efecto 1.5s cubic-bezier(0.77, 0, 0.7, 1);
}
@keyframes efecto {
    0% {
        transform: scale(0) rotateZ(0);
        transform: translateX(-1000px);
    }
    70% {
        transform: scale(1.5) rotateZ(540deg);
        
    }
    100% {
        transform: scale(1) rotateZ(720deg);
    }
}
.efecto-games {
    display: inline-flex;
    animation: efecto-games 2.2s cubic-bezier(0.77, 0, 0.7, 1);
}
@keyframes efecto-games {
    0% {
        transform: translateX(1000px);
    }
}
.efecto-logo {
    display: inline-flex;
    animation: efecto-logo 2.2s cubic-bezier(0.77, 0, 0.7, 1);;
}
@keyframes efecto-logo {
    0% {
        transform: translateY(-500px);
    }
}


/* CAROUSEL CONTAINER*/
/* image */
.game-image {
  
    position: relative;
    min-width: 300px;
    min-height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    margin-right: 0;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.692);
    transition: 0.8s;
}

/* Button BUYNOW */
.game-image button{
    position: absolute;
    bottom: 5%;
    right: 5%;

}
.btn-buy{
    background: rgb(19, 97, 128);
    background: linear-gradient(180deg, rgba(19, 97, 128, 1) 30%, rgba(13, 120, 167, 1) 60%, rgba(0, 172, 255, 1) 90%);
    padding: 0.5rem 1.5rem;
    text-align: center;
    border: 2px outset rgba(13, 120, 167, 1);
}
.btn-buy:hover {
    filter: brightness(120%);
    box-shadow: 0px 0px 2px 1px rgb(19, 97, 128);
}
/* Description */
.game-description {
  background-image: repeating-linear-gradient(135deg, rgb(7,23,30) 0px, rgb(7,23,30) 2px,rgb(8,24,31) 2px, rgb(8,24,31) 4px,rgb(9,25,32) 4px, rgb(9,25,32) 6px,rgb(8,24,31) 6px, rgb(8,24,31) 8px,rgb(11,27,34) 8px, rgb(11,27,34) 10px,rgb(10,26,35) 10px, rgb(10,26,35) 12px,rgb(8,24,31) 12px, rgb(8,24,31) 14px,rgb(7,23,30) 14px, rgb(7,23,30) 16px,rgb(11,27,34) 16px, rgb(11,27,34) 18px,rgb(9,25,32) 18px, rgb(9,25,32) 20px,rgb(10,26,35) 20px, rgb(10,26,35) 22px,rgb(10,26,35) 22px, rgb(10,26,35) 24px);
    border-left: 0;
    margin: 5px 5px 5px 0px;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
}
.game-description p {
    margin: 1rem 0;
    font-size: 1.1rem;
    color: rgb(44, 169, 185);
}
.game-description h5 {
    margin: 1rem 0;
}
.game-description img {
    max-width: 80%;
    margin:0 0.5rem 0.3rem 0;
}
.game-description img:hover {
   cursor: pointer;
}
.game-description span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    border: 1px solid black;
    background-color: rgba(66, 66, 66, 0.473);
    padding: 3px;
}

/* Button prev-next Bootstrap Carousel */
.btn-carousel-prev, .btn-carousel-next {
    position: absolute;
    top: 35%;
    bottom: 30%;
    z-index: 1;
    width: 3%;
}
.btn-carousel-prev {
    background: rgb(7, 125, 179);
    background: linear-gradient(
        90deg,
        rgba(0, 172, 255, 1) 0%,
        rgba(7, 125, 179, 0.8) 0%,
        rgba(15, 74, 97, 0.5) 50%,
        rgba(18, 23, 24, 0) 100%
    );
}
.btn-carousel-next {
    background: rgb(18, 23, 24);
    background: linear-gradient(
        90deg,
        rgba(18, 23, 24, 0) 0%,
        rgba(15, 74, 97, 0.5) 50%,
        rgba(7, 125, 179, 0.8) 100%,
        rgba(0, 172, 255, 1) 100%
    );
}
.btn-carousel-icon {
    display: inline-block;
    width: 100% !important;
    height: 100% !important;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 50% 50%;
}
.carousel-indicators-game {
    position: absolute;
    bottom: -40px !important;
  
}
.carousel-indicators-game [data-bs-target] {
    height: 10px !important;
    width: 20px !important;
    border: 1px;
    border-radius: 3px;
}
@media only screen and (max-width: 768px) {
    .btn-carousel-next, .btn-carousel-prev {
        position: absolute;
        top: 100%;
        bottom: -10%;
        z-index: 1;
        width: 15%;
    }
  }

/* Section Cards */
.card-game {
   width: 350px;
    min-width: 350px;
    box-shadow: 0px 0px 5px 1px rgb(0, 0, 0);
    padding: 0;
    margin: 0.5rem 0.5rem 0.5rem 0rem;
    
}
.card-image {
    height: 350px;
}
.card-description {
    background-image: repeating-linear-gradient(135deg, rgb(13,120,167) 0px, rgb(13,120,167) 2px,rgb(14,121,168) 2px, rgb(14,121,168) 4px,rgb(15,122,169) 4px, rgb(15,122,169) 6px,rgb(14,121,168) 6px, rgb(14,121,168) 8px,rgb(17,124,171) 8px, rgb(17,124,171) 10px,rgb(16,123,170) 10px, rgb(16,123,170) 12px,rgb(14,121,168) 12px, rgb(14,121,168) 14px,rgb(13,120,167) 14px, rgb(13,120,167) 16px,rgb(17,124,171) 16px, rgb(17,124,171) 18px,rgb(15,122,169) 18px, rgb(15,122,169) 20px,rgb(16,123,170) 20px, rgb(16,123,170) 22px,rgb(16,123,170) 22px, rgb(16,123,170) 24px);
 
}
.card-oferta{
    background-color: rgba(80, 167, 80, 0.644);
    text-align: center;
    font-size: 2rem
}

.card-precio {
    background-color: rgba(21, 33, 49, 0.582);
    padding: 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-precio span s {
    font-size: 1rem;
    color: rgb(150, 150, 150);
}
.card-precio span{
    font-size: 1.5rem;
    color: rgb(0, 225, 255);
}

/* Scroll 5 */

.sc5::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  .sc5::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .sc5::-webkit-scrollbar-thumb {
    background: rgb(18, 23, 24);
    background: linear-gradient(
        90deg,
        rgba(20, 64, 73, 0.541) 0%,
        rgba(15, 74, 97, 0.5) 50%,
        rgba(7, 125, 179, 0.8) 100%,
        rgba(0, 172, 255, 1) 100%
    );
     border-radius: 10px;
     box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
  }

